@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
// 	--BG: url("../public/Visiwig-Dots.svg");
// 	--BGColor: white;
// }

// [data-theme="dark"] {
// 	--BG: url("../public/Visiwig-Dots-dark.svg");
// 	--BGColor: #161615;
// }

html {
	// background-image: var(--BG);
	// // visiwig.com/patterns
	// // scale: 0.8 stroke: 19.31
	// background-repeat: repeat;
	// background-position: center;
	// background-size: cover;
	// background-color: var(--BGColor);
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
	@apply min-h-screen;
}
body {
	@apply bg-bgLight dark:bg-bgDark bg-repeat bg-cover bg-center text-black dark:text-white;
}

.cardContainer {
	@apply p-1 md:p-4 w-full flex flex-col md:flex-row container gap-4 justify-center content-center flex-wrap;
}
